@{
    ViewBag.PageName = "Activation Pending";
}
<style>
    .panel, .panel-heading, panel-title, .panel-default>.panel-heading
    {
        background : rgb(180,180,180);
    }
    .panel-heading [data-toggle="collapse"]:after
    {
        color:rgba(5, 6, 118, 1);
    }
</style>


    <div class="col-md-12 col-sm-6 aboutus wow fadeInLeft animated" style="background: rgb(221, 221, 221)">
    <h2 class="wellcome">Activation Pending</h2>
    <div class="panel-body">
        <span>Your account actication request sent to Admin. Once approved your request we will update details soon.</span>
    </div>
</div>
   