
@{
    ViewBag.Title = "Documents";
    ViewBag.PageName = "Documents";
}
<link href="~/Scripts/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
<h2 class="wellcome" style="padding-left: 20px;">Documents</h2>
<br />
<ul>
    <li><a href="~/RM - Credit Application from Customer.xlsx" download="Credit Application from Customer.xlsx">Credit Application FORM for Customer</a></li><br/>
    <li><a href="~/CUSTOMER REJECTION FORM.docx" download="CUSTOMER REJECTION FORM.docx">CUSTOMER REJECTION FORM</a></li>
</ul>