
    <div class="col-md-12 col-sm-6 aboutus wow fadeInLeft animated">
        <h2 class="wellcome"> Local Distribution</h2>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h4>Domestic product line:</h4>
                <p> <strong> 201(1% and 4%) stainless steel colls and sheets</strong></p>
                <p>Finish: 2B/Pollished/BA</p>
                <p>Gauge: 10ga to 26ga</p>
                <p>Width: up to 60 inches</p>
                <br>
                <p> <strong> 304 and 304L stainless steel coils and sheets</strong></p>
                <p>Finish: 2B/Pollished/BA</p>
                <p>Gauge: 12ga to 30ga</p>
                <p>Width: up to 72 inches</p>

                <br>
                <p> <strong> 316L stainless steel coils and sheets</strong></p>
                <p>Finish: 2B/Pollished/BA</p>
                <p>Gauge: 14ga to 30ga</p>
                <p>Width: up to 72 inches</p>



            </div>
            <div class="col-md-6 col-sm-6">
                <img src="~/images/rmmetals_map.jpg" class="img-responsive">
                <br>
                <p> <strong> 430 stainless steel coils and sheets</strong></p>
                <p>Finish: 2B/Pollished/BA</p>
                <p>Gauge: 14ga to 30ga</p>
                <p>Width: up to 60 inches</p>
                <br>
                <p> <strong> 409L stainless steel coils and sheets</strong></p>
                <p>Finish: 2B/2D</p>
                <p>Gauge: 14ga to 26ga</p>
                <p>Width: up to 60 inches</p>
            </div>
        </div>




    </div>
    @*<div class="col-md-4 col-sm-6 wow fadeInLeft animated">
        <h2 class="wellcome">Certifications</h2>
        <div id="tcb-testimonial-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                            <figure class="clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive media-object" src="~/images/client1.jpg"> </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                            <figure class="clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive media-object" src="~/images/client2.jpg"> </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                            <figure class="clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive media-object" src="~/images/client3.jpg"> </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                            <figure class="clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive media-object" src="~/images/client4.jpg"> </div>
                            </figure>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                            <figure class="clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive media-object" src="~/images/client5.jpg"> </div>
                            </figure>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                            <figure class="clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive media-object" src="~/images/client6.jpg"> </div>
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                            <figure class="clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive media-object" src="~/images/client7.jpg"> </div>
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                            <figure class="clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive media-object" src="~/images/client8.jpg"> </div>
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 wow fadeInLeft animated">
                            <figure class="clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12"><img class="img-responsive media-object" src="~/images/client9.jpg"> </div>
                            </figure>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</div>*@